body{
  background-color: #000;
  color: #ccc;
}

h1{
  color: chartreuse;
  font-size: 10em;
  text-align: center;
}

h2{
  font-size: 8em;
}

h3{
  font-size: 7em;
}

h2, h3{
  text-align: center;
}

button{
  color: #ccc;
}

.heading{
  color: chartreuse;
  text-shadow: 1px 1px 3px #333;
}

.nav-show{
  display: block;
  width: 100%;
  font-size: 4em;
  padding: .5em;
  height: auto;
}

.nav-link{
  text-align: center;
  /*height: 10vh;*/
  font-size: 4em;
  padding: .5em;
  display: block;
}



.nav-box{
  text-align: center;
}

.nav-label{
  margin-top: 1em;
  font-size: 2em;
}

.auth-link{
  font-size: 4em;
  display: block;

}

.spinner-red{
  border: solid 1px red;
}
.spinner-green{
  border: solid 1px chartreuse;
}
.spinner-blue{
  border: solid 1px blue;
}
.spinner-black{
  border: solid 1px black;
}
.spinner-white{
  border: solid 1px #ddd;
}

.spinner-icon{
  margin: 5em auto;
  width: 12em;
  height: 12em;
  border-radius: 6em;
  background-color: rgba(0,0,0,0);
  border-right: solid 1px rgba(0,0,0,0);
}


.spinner-spin{
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to{
    transform: rotate(359deg);
  }
}

.npr-controls{
  /*text-align: center;*/
}

.npr-play{
  font-size: 2em;
  height: auto;
  padding: .5em;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.npr-title{
  text-align: center;
}

.spotify-album-container{
  height: 45vh;
  overflow: scroll;
}

.spotify-album-cover{
  max-width: 100%;
  max-height: 100%;
}

.spotify-tracklist{
  height: 50vh;
  overflow: scroll;
  margin-bottom: 1em;
}

.loader{
  color: #ccc;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10vh;
  animation-name: loader;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/*#dot1{
  animation-name: loader;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#dot2{
  animation-name: loader;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#dot3{
  animation-name: loader;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}*/

@keyframes loader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 960px) {
  .container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  h1{
    font-size: 4em;
  }
  h2{
    font-size: 3em;
  }
  h3{
    font-size: 2em;
  }
}
