body{
  background-color: blanchedalmond;
}

h1{
  color: chartreuse;
}

.nav-show{
  display: block;
  width: 100%;
  font-size: 2em;
  padding: .5em;
  height: auto;
}

.nav-link{
  text-align: center;
  /*height: 10vh;*/
  font-size: 2em;
  padding: .5em;
  display: block;
}

a:nth-child(1){
  background-color: #992222;
  color: #eeeeee;
}
a:nth-child(2){
  background-color: #229922;
  color: #eeeeee;
}
a:nth-child(3){
  background-color: #222222;
  color: #eeeeee;
}
a:nth-child(4){
  background-color: #222299;
  color: #eeeeee;
}
a:nth-child(5){
  background-color: #229999;
  color: #eeeeee;
}

.auth-link{
  font-size: 2em;
  
}
