<h2>NPR</h2>
<p>{{nc.story.title}}</p>
<div class="spinner-icon" ng-class="{'spinner-spin': nc.playing, 'spinner-red': true}">

</div>
<button class="three columns" ng-click="nc.go()">go</button>
<div class="npr-controls row">
  <button class="npr-play three columns offset-by-one" ng-click="nc.cmd('rewind')">rewind</button>
  <button class="npr-play three columns" ng-click="nc.cmd('play')">
    <span ng-show="!nc.playing">play</span>
    <span ng-show="nc.playing">pause</span>
  </button>
  <button class="npr-play three columns" ng-click="nc.cmd('next')">next</button>
</div>
<div class="row">
  <button class="npr-play three columns" ng-click="nc.like()">like</button>
</div>
