<h2>Settings</h2>

<div class="npr-auth">
  <h3>NPR Auth</h3>
  <a class="auth-link" href="/auth/npr" target="_self">Click here to authenticate NPR One</a>
  <a class="auth-link" href="/auth/npr/refresh" target="_self">Refresh Token</a>
  <a class="auth-link" href="/auth/npr/logout" target="_self">Log out NPR</a>
</div>
<div class="spotify-auth">
  <h3>Spotify Auth</h3>
  <a class="auth-link" href="/auth/spotify" target="_self">Click here to authenticate spotify</a>
  <button class="auth-link" ng-click="setc.updateSpotify()">Click here to update Spotify albums.</button>
</div>
