<h2>Spotify</h2>
<div>
  <button class="spotify-back-btn" ng-show="sc.showTrackList" ng-click="sc.back()">back</button>
  <h3 ng-show="sc.showPlaylistContainer">Playlists</h3>
  <h3 ng-show="sc.showTrackList">Tracks</h3>
</div>
<div class="spotify-playlist-container" ng-show="sc.showPlaylistContainer">
  <div class="loader" ng-show="sc.loader()">
    <span>loading</span><span id="dot1">.</span><span id="dot2">.</span><span id="dot3">.</span>
  </div>
  <button ng-repeat="playlistName in sc.playlistNames track by $index" class="spotify-playlist-btn" ng-click="sc.selectPlaylist($index)">{{playlistName}}</button>
</div>
<div class="spotify-tracklist" ng-show="sc.showTrackList">
  <button ng-repeat="track in sc.trackList track by $index" class="spotify-playlist-btn" ng-click="sc.cmd({cmd: 'select', track: $index})">{{track}}</button>
</div>
<button ng-click="sc.status()">status</button>
<button ng-click="sc.cmd({cmd: 'play', track: 0})">play</button>
<button ng-click="sc.cmd({cmd: 'next'})">next</button>
