<h2>Spotify</h2>
<h3 ng-click="sc.togglePlaylistContainer()">Playlists</h3>
<div class="spotify-playlist-container" ng-show="sc.showPlaylistContainer">
  <ul>
    <li ng-repeat="playlistName in sc.playlistNames track by $index">
      <button class="spotify-playlist-btn" ng-click="sc.selectPlaylist($index)">{{playlistName}}</button>
    </li>
  </ul>
</div>
<div class="spotify-tracklist" ng-show="sc.showTrackList">
  <ul>
    <li ng-repeat="track in sc.trackList">
      <button class="spotify-playlist-btn" ng-click="sc.cmd({cmd: 'select', track: $index})">{{track}}</button>
    </li>
  </ul>
</div>
<button ng-click="sc.status()">status</button>
<button ng-click="sc.cmd({cmd: 'play', track: 0})">play</button>
<button ng-click="sc.cmd({cmd: 'next'})">next</button>
