<h2>Spotify</h2>

<!-- filter text -->
<div class="row spotify-filter-container">
  <button ng-click="sc.back()">back</button>
  <input type="text" class="eight columns offset-by-two spotify-filter" placeholder="filter..." ng-model="sc.filterText" />
</div>

<!-- album cover -->
<div class="row spotify-album-container" ng-show="sc.showAlbumContainer">
  <mv-album class="eight columns offset-by-two" album="album" ng-repeat="album in sc.albums | filter: {$: sc.filterText}" ng-click="sc.selectAlbum(album)"></mv-album>
</div>
<!-- {{sc.albums}} -->
<!-- track list -->
<div class="spotify-tracklist-container" ng-show="sc.showTrackList">
  <mv-track ng-repeat="track in sc.trackList track by $index"></mv-track>
</div>

<button ng-click="sc.status()">status</button>
<button ng-click="sc.cmd({cmd: 'play', track: 0})">play</button>
<button ng-click="sc.cmd({cmd: 'next'})">next</button>
